@import '../../style/variables';

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 6px 17px;
  border: 1px solid grey;
  border-radius: $border-radius-base;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  // font: normal normal normal 18px verdana;
  text-decoration: none;

  // SKINS
  &--blue {
    border-color: #5a7da8;
    background: #4caeff;
    text-shadow: #415a78 1px 1px 1px;
    color: #ffffff;

    &:hover,
    &:focus {
      border-color: #81b3f0;
      background: #72befc;
      color: #ffffff;
      text-decoration: none;
    }

    &:active {
      background: #5a7da8;
    }
  }
}
