@import 'variables';

* {
  box-sizing: border-box;
}

html {
  background-color: #F3F3F3;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 $padding-base;
  word-break: break-all;
}

.rum {
  width: 100%;
  max-width: 960px;
  margin: $padding-base auto;
  padding-left: $padding-base;

  &__header,
  &__docslist {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &__header {
    justify-content: space-between;
    padding-right: $padding-base;
  }

  //&__docslist {
  //  margin-right: $padding-base;
  //}
}



