@import '../../style/variables';

.uploader {
  margin-bottom: $padding-base;

  &__input {
    //position: absolute;
    display: none;
  }

  &__filename {
    display: inline-block;
    margin: 0 10px;
    font-size: 0.8em;
  }
}
