@import '../../style/variables';

.search {
  margin: 0 $padding-base $padding-base 0;

  &__input {
    padding: 6px $padding-base;
    font-size: 1rem;
    line-height: 1;
    border: 1px solid grey;
    border-radius: $border-radius-base;
  }
}
