@import '../../style/variables';

.document {
  flex: 100% 0 1;
  min-width: 180px;
  padding: $padding-base;
  margin-bottom: $padding-base;
  border: 1px solid grey;
  border-radius: $border-radius-base;
  margin-right: $padding-base;

  @media only screen and (min-width: 576px) {
    flex-basis: calc(50% - #{$padding-base});
  }

  @media only screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - #{$padding-base});
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__weight {
    font-size: 0.8em;
    vertical-align: middle;
  }
}
