@import '../../style/variables';

.error-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: $padding-base;
  background: red;
  color: white;
  font-weight: bold;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s 1s, transform 0.3s 1s;

  &.hidden {
    opacity: 0;
    transform: translateY(-100%);
  }
}
